* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}
header {
  background: linear-gradient(120deg, #140e5c, #2b4698);
  color: #fff;
  font-size: 24px;
  padding: 60px 20px;
  text-align: center;
}
main {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 10px;
}
section {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 24px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;      
  justify-content: center;     
  align-items: center;       
  text-align: center;        
}
h2 {
  margin-top: 15;
  margin-bottom: 0;
  font-size: 30px;
  color: #2b4698;
}
.myButton {
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #fff;
  border: none; 
  width: 100%;
  display: block;
  padding: 24px;
  margin-bottom: 24px;
  text-align: left; 
  display: inline-block;
  font-size: 16px;
  cursor: pointer; 
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
  transition: background-color 0.15s ease-out, transform 0.15s ease-out;
  
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;         
  text-align: center;      


}
.myButton:hover {
            background-color: rgba(240, 240, 240, 1);
            transform: scale(1.03);
        }
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adds space between the sections */
}
footer {
  padding: 24px;
  text-align: center;
  background: #e8edf4;
  font-size: 0.9rem;
}
